@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 25% 94%;
    --foreground: 210 31% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 31% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 31% 15%;
    --primary: 210 31% 28%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 25% 90%;
    --secondary-foreground: 210 31% 28%;
    --muted: 210 25% 94%;
    --muted-foreground: 210 15% 45%;
    --accent: 175 18% 58%;
    --accent-foreground: 210 31% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88%;
    --input: 210 20% 88%;
    --ring: 210 31% 28%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 31% 10%;
    --foreground: 60 30% 96%;
    --card: 210 31% 15%;
    --card-foreground: 60 30% 96%;
    --popover: 210 31% 10%;
    --popover-foreground: 60 30% 96%;
    --primary: 175 18% 58%;
    --primary-foreground: 210 31% 15%;
    --secondary: 210 31% 20%;
    --secondary-foreground: 60 30% 96%;
    --muted: 210 31% 20%;
    --muted-foreground: 60 30% 70%;
    --accent: 59 29% 75%;
    --accent-foreground: 210 31% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 31% 25%;
    --input: 210 31% 25%;
    --ring: 175 18% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
